version: "1.0"
info:
  model: int-scaffold
packages:
- name: BhmdadaProject
  gitServerName: bhmmekacicd
  gitUrl: https://github.com/bharathreddy89/BhmdadaProject
  gitUsername: bharathreddy89
  gitBranch: main
- name: OpenWeatherClient
  version: "1.0"
  gitServerName: bhmmekacicd
  gitUrl: https://github.com/rahuldemocenter
  gitUsername: bharathreddy89
  gitBranch: main
- name: BHMonpremise
  version: "1.0"
  gitServerName: bhmmekacicd
  gitUrl: https://github.com/bharathreddy89
  gitUsername: bharathreddy89
  gitBranch: main
- name: WmJDBCAdapter
  wpmServer: https://packages.webmethods.io
  wpmRegistry: softwareag
services:
- serviceName: project.bhmdada.integrations:helloWorld
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
- serviceName: pub.flow:debugLog
  packages:
  - name: WmPublic
    version: 11.0.0.0.927
- serviceName: OpenWeatherClient.REST.openweatherclient_.services:CurrentWeatherData
  packages:
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: pub.client:http
  packages:
  - name: WmPublic
    version: 11.0.0.0.927
- serviceName: pub.json:jsonStreamToDocument
  packages:
  - name: WmPublic
    version: 11.0.0.0.927
- serviceName: pub.json:documentToJSONString
  packages:
  - name: WmPublic
    version: 11.0.0.0.927
- serviceName: bhmmath:addInt
  packages:
  - name: BHMonpremise
    version: "1.0"
- serviceName: pub.math:addInts
  packages:
  - name: WmPublic
    version: 11.0.0.0.927
- serviceName: project.bhmdada.integrations:db_query
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections:Database_1
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections:Database_2
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.operations.actions:acccc12
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections:Database_3
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
- serviceName: project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections:bhmdatabaseconn
  packages:
  - name: BhmdadaProject
    version: "1.0"
  - name: BHMonpremise
    version: "1.0"
  - name: OpenWeatherClient
    version: "1.0"
configurationVariables:
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionEnabled
  : "false"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.serverName
  : host.docker.internal
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.minimumPoolSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.heartBeatInterval
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.trustStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.password
  : "{AES}rGTLI7FSrEEUEWloN9T4rg=="
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.datasourceClass
  : com.wm.dd.jdbcx.sqlserver.SQLServerDataSource
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.maximumPoolSize
  : "20"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.networkProtocol
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.startupRetryCount
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.portNumber
  : "1433"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.keyStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.minimumPoolSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.heartBeatInterval
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.user
  : sa
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.datasourceClass
  : com.wm.dd.jdbcx.sqlserver.SQLServerDataSource
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.poolIncrementSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.startupBackoffSecs
  : "10"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.expireTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionEnabled
  : "false"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.poolable
  : "true"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.startupRetryCount
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.transactionType
  : NO_TRANSACTION
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.dbType
  : MSSQL
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.startupBackoffSecs
  : "10"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.password
  : "{AES}D6/2AGfsSWDOcWCLrORnEQ=="
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.blockingTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.serverName
  : host.docker.internal
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.dbType
  : MSSQL
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.datasourceClass
  : com.wm.dd.jdbcx.sqlserver.SQLServerDataSource
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.databaseName
  : DataStore
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.startupRetryCount
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.otherProperties
  : loginTimeout=60;
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.driverType
  : Progress® DataDirect®
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.portNumber
  : "1433"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.startupBackoffSecs
  : "10"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.otherProperties
  : loginTimeout=60;
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.otherProperties
  : loginTimeout=60;
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.poolable
  : "true"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.driverType
  : Progress® DataDirect®
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.portNumber
  : "1433"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.trustStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.expireTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.poolIncrementSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.poolIncrementSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.networkProtocol
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.transactionType
  : NO_TRANSACTION
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.heartBeatInterval
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionEnabled
  : "false"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.serverName
  : host.dokcer.internal
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.user
  : sa
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.password
  : "{AES}rGTLI7FSrEEUEWloN9T4rg=="
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.minimumPoolSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.databaseName
  : DataStore
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.driverType
  : Progress® DataDirect®
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.networkProtocol
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.portNumber
  : "1433"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.dbType
  : MSSQL
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.trustStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.trustStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.poolable
  : "true"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.expireTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.user
  : sa
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.transactionType
  : NO_TRANSACTION
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.heartBeatInterval
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.networkProtocol
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.databaseName
  : DataStore
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.expireTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.keyStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.otherProperties
  : loginTimeout=60;
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.startupBackoffSecs
  : "10"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.transactionType
  : NO_TRANSACTION
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.databaseName
  : datastore
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionEnabled
  : "false"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.minimumPoolSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionManagerSettings.startupRetryCount
  : "0"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.dbType
  : MSSQL
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.keyStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.password
  : "{AES}rGTLI7FSrEEUEWloN9T4rg=="
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.driverType
  : Progress® DataDirect®
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.blockingTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.blockingTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.blockingTimeout
  : "5000"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.bhmdatabaseconn.connectionSettings.datasourceClass
  : com.wm.dd.jdbcx.sqlserver.SQLServerDataSource
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionSettings.serverName
  : host.docker.internal
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionSettings.user
  : sa
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionSettings.keyStore
  : ""
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.poolable
  : "true"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_2.connectionManagerSettings.maximumPoolSize
  : "20"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_1.connectionManagerSettings.maximumPoolSize
  : "20"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.poolIncrementSize
  : "1"
  ? artConnection.BhmdadaProject.project.bhmdada.WmJDBCAdapter.com_wm_adapter_wmjdbc_JDBCAdapter.connections.Database_3.connectionManagerSettings.maximumPoolSize
  : "20"
